
# BEGIN WordPress
# The directives (lines) between `BEGIN WordPress` and `END WordPress` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /fixedincome/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /fixedincome/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# The directives (lines) between `BEGIN Simply Static` and `END Simply Static` are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<Files "C:\xampp\htdocs\fixedincome/wp-content/uploads\simply-static\19e57300cb7bd9e247083b085eda1e7f-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static